<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Welcome to the Job Finder</h1>
      <h3>Fill out this form, and you might just find the job you are looking for!</h3>
      <form method="post" action="/result">
        Name: <input type="text" name="name" size="30"><br>
        Age: <input type="text" name="age" size="35"><br>
        Email: <input type="text" name="email" size="35"><br>
        Location: <input type="text" name="location" size="35"><br>
        Job Title: <input type="text" name="job title" size="35"><br>
      <input type="submit" value="Get me a job!">
      </form>
    </div>
    
  </body>
</html>
