body {
	  width: 100%;
	  height: auto;
  }


body {
	background-image: url(image1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
button{
	font-family: 'fantasy', cursive;
	color:#89cff0;
}

h1{
    font-family: 'fantasy', cursive;
    color:#89cff0;
    font-size: 30;
}

h3{
    font-family: 'fantasy', cursive;
    color:#89cff0;
    font-size: 20;
}
